<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <link rel="stylesheet" type="text/css" href="/style/Main.css" />
    <link rel="stylesheet" type="text/css" href="/style/Navigation.css" />
    <link rel="stylesheet" type="text/css" href="/style/ReactTransitions.css" />
</head>

<body>
    <!-- Output for main react component -->
    <div id="root"></div>

    <!-- Javascript files will be automatically injected into html. This is a feature of a webpack plugin we are using -->
</body>

</html>